<%= form_with(model: purchase, url: group_purchases_path) do |form| %>
  <% if purchase.errors.any? %>
    <div class="error-container" style="color: red">
      <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
        <% purchase.errors.each do |error| %>
          <li>* <%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <div class="divisor"></div>
  <% end %>

  <% flash.each do |key, value| %>
  <div class="flash <%= key %>">
    <%= value %>
  </div>
<% end %>

  <div class="input-container">
    <%= form.label :name, style: "display: NONE" %>
    <%= form.text_field :name, placeholder: "TRANSACTION NAME" %>
  </div>
  <div class="divisor"></div>
  <div class="input-container">
    <%= form.label :amount, style: "display: NONE" %>
    <%= form.text_field :amount, placeholder: "TRANSACTION AMOUNT" %>
  </div>
  <div class="divisor"></div>
  <div class="input-container">
    <%= form.label :groups, style: "display: NONE" %>
    <% available_groups.each do |group| %>
      <label>
        <%= check_box_tag 'purchase[group_ids][]', group.id, @purchase.group_ids.include?(group.id) %>
        <%= group.name %>
      </label>
    <% end %>
  </div>

  <%= form.hidden_field :author_id, value: purchase.author.id %>
  <div class="divisor"></div>
  <div class="input-container">
    <%= form.submit "SAVE TRANSACTION", class: "save-btn" %>
  </div>
<% end %>